
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



/* Navbar */
.navbar {
  background-color: #0070f3;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.card.configs {
  height: 90vh;
  width: 70%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.toppic {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.table-wrapper {
  overflow-y: auto;
  flex-grow: 1;
}

table {
  width: 100%;
  table-layout: fixed;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .card.configs {
    width: 90%;
    margin-left: 0;
    margin-right: 0;
  }

  table {
    font-size: 14px;
  }

  th,
  td {
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .card.configs {
    width: 100%;
    height: auto;
  }

  table {
    font-size: 12px;
  }

  th,
  td {
    padding: 6px;
  }
}
